#qrcodes, #qrgenerator {
    .card {
        border-radius: 36px;
    }
}

#qrgenerator {
    #generator-card {
        max-width: 458px;
        margin: 77px auto 0 auto;

        .card-content {
            padding: 49px 14px 24px 14px;

            .card-title {
                font-weight: 700;
                font-size: 28px;
                text-align: center;
                line-height: 30px;
                letter-spacing: 0;
                margin-bottom: 48px;
            }

            .row {
                margin: 0;
            }

            .input-field {
                padding: 0 6px;
                margin: 0;

                &:not(:first-child) {
                    margin-top: 34px;
                }

                input {
                    background-color: $light-grey;
                    border-radius: 3px;
                    border-bottom: none;
                    margin: 0;

                    color: $grey;
                    font-family: Inter;
                    font-weight: 300;
                    font-size: 16px;
                    letter-spacing: 0.1px;

                    padding-left: 13px;
                    width: calc(100% - 13px);

                    &.valid {
                        box-shadow: none;
                    }
                }

                label {
                    font-family: Inter;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-size: 13px;
                    color: black;
                    left: 6px;

                    &.active {
                        transform: translateY(-20px) scale(1);
                    }
                }

                .select-wrapper {
                    .caret {
                        z-index: 1;
                    }
                    & + label {
                        top: -32px;
                    }
                }
            }

            #btn-row {
                text-align: center;
                margin-top: 26px;

                a {
                    background-color: $primary;
                    color: white;
                    height: 72px;
                    line-height: 72px;
                    border-radius: 32px;
                    font-weight: 700;
                    font-size: 16px;
                    letter-spacing: 1.2px;
                    padding: 0 50px;
                    position: relative;

                    &:hover,
                    &:active,
                    &:focus {
                        background-color: $primary-dark;
                    }

                    .preloader-wrapper {
                        display: none;
                        position: absolute;
                        left: 7px;
                        top:  18px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: $mobile) {
        #generator-card {
            margin-top: 43px;
        }
    }
}

#qrcodes {
    display: none;

    .row {
        margin: 0;
    }

    #back-to-generator {
        cursor: pointer;
        display: flex;
        margin-top: 56px;

        img {
            width: 25px;
            height: 24px;
            margin-left: 19px;
            margin-top: 3px;
        }

        div {
            margin-left: 6px;

            font-weight: 700;
            font-size: 28px;
            line-height: 30px;
            letter-spacing: 0;
        }
    }

    #qr-information {
        margin-top: 31px;
        text-align: center;

        #qr-title {
            font-weight: 700;
            font-size: 28px;
            line-height: 30px;
            letter-spacing: 0;
            margin-bottom: 5px;
        }

        #qr-subtitle, #qr-addition {
            font-weight: 300;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.4px;
            margin-bottom: 5px;
        }
    }

    .key-card {
        .card-content {
            padding: 42px 15px 16px 15px;

            .qr-code {
                width: 161px;
                height: 161px;
                margin: 0 auto;

                svg {
                    width: 100%;
                    height: auto;
                }
            }

            .information {
                width: 100%;
                border-radius: 36px;
                position: relative;
                margin-top: 63px;
                padding: 50px 26px 82px 26px;

                & > img {
                    width: 60px;
                    height: 60px;
                    position: absolute;
                    top: -30px;
                    left: calc(100% / 2 - 30px);
                }

                .bullet-point {
                    display: flex;

                    &:not(:first-child) {
                        margin-top: 20px;
                    }

                    .bullet-icon {
                        width: 24px;
                        height: 24px;
                        margin-right: 10px;
                    }

                    .text {
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 22px;
                        letter-spacing: .1px;
                    }
                }
            }
        }

        &#public-qr-card {
            .qr-code svg path {
                stroke: $primary;
                fill: $primary;
            }

            .information {
                background-color: $primary-light;
            }
        }

        &#private-qr-card {
            .qr-code svg path {
                stroke: $tertiary;
                fill: $tertiary;
            }

            .information {
                background-color: $tertiary-light;
            }
        }
    }
}
