#qrcodes,
#qrgenerator {
    padding-bottom: 145px;

    @media screen and (max-width: $large) {
        padding-bottom: 56px;
    }
}

#qrgenerator {
    position: relative;

    #illu-base {
        position: absolute;
        right: calc(100% / 2 - 102px - 293px);
        bottom: calc(145px - 72px);
        z-index: 0;
    }

    #illu-main {
        position: absolute;
        right: calc(100% / 2 - 214px - 148px);
        bottom: calc(145px - 46px);
        z-index: 2;
    }

    #generator-card {
        max-width: 458px;
        margin: 77px auto 0 auto;

        .card-content {
            padding: 49px 14px 24px 14px;

            .input-field:not(:first-child):not(.no-label) {
                margin-top: 16px;
            }

            .input-field.optional:not(:last-child) {
                margin-bottom: 18px;
            }

            .btn-row {
                margin-top: 26px;
            }

            #validity-information {
                display: flex;

                background-color: #fdedf0;
                border-radius: 15px;
                padding: 5px;

                img {
                    width: 24px;
                    height: 24px;
                    margin-right: 10px;
                    margin-top: 7px;
                }

                p {
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 22px;
                    letter-spacing: 0.1px;
                }
            }
        }
    }

    @media screen and (max-width: $mobile) {
        #generator-card {
            margin-top: 43px;
        }
    }
}

#qrcodes {
    display: none;

    #back-to-generator {
        cursor: pointer;
        display: flex;
        margin-top: 56px;

        img {
            width: 25px;
            height: 24px;
            margin-left: 19px;
            margin-top: 3px;
        }

        div {
            margin-left: 6px;

            font-weight: 700;
            font-size: 28px;
            line-height: 30px;
            letter-spacing: 0;

            @media screen and (max-width: $mobile) {
                font-size: 18px;
            }
        }
    }

    #qr-information {
        margin-top: 10px;
        text-align: center;

        #qr-category {
            width: 42px;
            height: auto;
        }

        #qr-title {
            font-weight: 700;
            font-size: 28px;
            line-height: 30px;
            letter-spacing: 0;
            margin-top: 15px;
        }

        #qr-subtitle {
            font-weight: 300;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.4px;
            margin-top: 5px;
        }

        @media screen and (max-width: $mobile) {
            margin-top: -12px;
        }
    }

    .qr-card-wrapper {
        margin-top: 33px;
        display: flex;
        flex-wrap: wrap;
        padding: 0 8.3333333%;

        @media screen and (max-width: $large) {
            display: block;
            padding: 0;

            .single-qr-card:first-child {
                margin-bottom: 20px;
            }
        }

        .single-qr-card {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding: 0 0.75rem;

            .key-card {
                flex: 1;
                display: flex;
                flex-direction: column;

                .card-content {
                    padding: 40px 15px 16px 15px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;

                    .qr-code {
                        width: 165px;
                        height: 165px;
                        margin: 0 auto;

                        img {
                            width: 100%;
                            height: auto;
                        }
                    }

                    .information {
                        flex: 1;
                        width: 100%;
                        border-radius: 36px;
                        position: relative;
                        margin-top: 61px;
                        padding: 50px 26px 82px 26px;

                        & > img {
                            width: 60px;
                            height: 60px;
                            position: absolute;
                            top: -30px;
                            left: calc(100% / 2 - 30px);
                        }

                        .bullet-point {
                            display: flex;

                            &:not(:first-child) {
                                margin-top: 20px;
                            }

                            .bullet-icon {
                                width: 24px;
                                height: 24px;
                                margin-right: 10px;
                            }

                            .text {
                                font-weight: 300;
                                font-size: 16px;
                                line-height: 22px;
                                letter-spacing: 0.1px;

                                b {
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }

                &#public-qr-card {
                    .information {
                        background-color: $primary-light;

                        h1 span {
                            color: $primary;
                        }
                    }
                }

                &#private-qr-card {
                    .information {
                        background-color: $tertiary-light;

                        h1 span {
                            color: $tertiary;
                        }
                    }
                }
            }
        }

        @media screen and (max-width: $large) {
            .single-qr-card {
                width: 100%;
                flex-shrink: unset;
            }
        }
    }

    .btn-row {
        margin-top: 48px;
    }
}
