#qrgenerator {
    .card {
        border-radius: 36px;
    }

    #generator-card {
        max-width: 458px;
        margin: 77px auto 0 auto;

        .card-content {
            padding: 49px 14px 24px 14px;

            .card-title {
                font-weight: 700;
                font-size: 28px;
                text-align: center;
                line-height: 30px;
                letter-spacing: 0;
                margin-bottom: 48px;
            }

            .row {
                margin: 0;
            }

            .input-field {
                padding: 0 6px;
                margin: 0;

                &:not(:first-child) {
                    margin-top: 34px;
                }

                input {
                    background-color: $light-grey;
                    border-radius: 3px;
                    border-bottom: none;
                    margin: 0;

                    color: $grey;
                    font-family: Inter;
                    font-weight: 300;
                    font-size: 16px;
                    letter-spacing: 0.1px;

                    padding-left: 13px;
                    width: calc(100% - 13px);

                    &.valid {
                        box-shadow: none;
                    }
                }

                label {
                    font-family: Inter;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-size: 13px;
                    color: black;
                    left: 6px;

                    &.active {
                        transform: translateY(-20px) scale(1);
                    }
                }

                .select-wrapper {
                    .caret {
                        z-index: 1;
                    }
                    & + label {
                        top: -32px;
                    }
                }
            }

            #btn-row {
                text-align: center;
                margin-top: 26px;

                a {
                    background-color: $primary;
                    color: white;
                    height: 72px;
                    line-height: 72px;
                    border-radius: 32px;
                    font-weight: 700;
                    font-size: 16px;
                    letter-spacing: 1.2px;
                    padding: 0 50px;

                    &:hover,
                    &:active,
                    &:focus {
                        background-color: $primary-dark;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: $mobile) {
        #generator-card {
            margin-top: 43px;
        }
    }
}
