#uploadpage {
    .card {
        max-width: 458px;
        margin: 77px auto 0 auto;

        .card-content {
            padding: 46px 14px 24px 14px;

            input.invalid {
                border-bottom: 1px solid $tertiary;
            }

            #note-input-wrapper {
                margin-top: 30px;
            }

            .btn-row {
                margin-top: 24px;

                a {
                    background-color: $tertiary;
            
                    &:hover,
                    &:active,
                    &:focus {
                        background-color: $tertiary-dark;
                    }
                }
            }
        }
    }
}