#notify-me {
    .input-field {
        padding: 0 6px;
        margin: 0;
    
        input, textarea {
            background-color: $light-grey;
            border-radius: 3px;
            border-bottom: none;
            margin: 0;
    
            color: $grey;
            font-family: Inter;
            font-weight: 300;
            font-size: 16px;
            letter-spacing: 0.1px;
    
            padding-left: 13px;
            width: calc(100% - 13px);
    
            &.valid, &.valid[type=text] {
                box-shadow: none;
            }
        }

        textarea {
            width: 100%;
            min-height: 140px;
        }
    
        label {
            font-family: Inter;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 13px;
            color: black;
            left: 6px;
            transform: translateY(-20px) scale(1);
        }
    
        .select-wrapper {
            .caret {
                z-index: 1;
            }
            & + label {
                top: -32px;
            }
        }
    }
    
    .card {
        border-radius: 36px;
        margin: 0;
    
        .card-content {
            .card-title {
                font-weight: 700;
                font-size: 28px;
                text-align: center;
                line-height: 30px;
                letter-spacing: 0;
                margin-bottom: 48px;
            }
        }
    }
    
    .btn-row {
        text-align: center;
    
        a {
            background-color: $primary;
            color: white;
            height: 72px;
            line-height: 72px;
            border-radius: 32px;
            font-weight: 700;
            font-size: 16px;
            letter-spacing: 1.2px;
            padding: 0 50px;
            position: relative;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 100%;

            @media screen and (max-width: $mobile) {
                padding: 0 33px;
            }
    
            &:hover,
            &:active,
            &:focus {
                background-color: $primary-dark;
            }
    
            .preloader-wrapper {
                display: none;
                position: absolute;
                left: 7px;
                top: 18px;
            }
        }
    }    
}