$primary: #413f8d;
$primary-dark: #292859;
$primary-light: rgba(65, 63, 141, 0.06);
$tertiary: #f34e70;
$tertiary-dark: darken($tertiary, 10%);
$tertiary-light: #fdedf0;

$light-grey: #f2f2f2;
$grey: #888888;

$mobile: 600px;
$large: 992px;
