<div id="landingpage" class="row">
    <img src="images/logo.svg" id="landing-logo" alt="">
    <h1 id="landing-title">Notify<span class="primary-color">Me</span></h1>
    <p id="landing-description">
        {{ T "web_landing_description" }}
    </p>
    <div id="store-icons" class="row">
        <div>
            <a href="{{ T "web_landing_app_store_link" }}">
                <img src="images/app-store.svg" alt="">
            </a>
        </div>
        <div>
            <a href="{{ T "web_landing_play_store_link" }}">
                <img src="images/play-store.svg" alt="">
            </a>
        </div>
    </div>
</div>