<div id="qrgenerator" class="row">
    <div id="generator-card" class="card white">
        <div class="card-content">
            <span class="card-title">Demo QR-Codes erstellen</span>
            <form id="qr-form">
                <div class="row">
                    <div class="input-field col s12">
                        <select name="category" id="category">
                            <option value="0">Other</option>
                            <option value="1">Meeting room</option>
                            <option value="2">Cafeteria</option>
                            <option value="3">Private party</option>
                        </select>
                        <label>Kategorie*</label>
                    </div>
                    <div class="input-field col s12">
                        <input placeholder="z.B. Raum- oder Eventname" name="title" id="title" type="text"
                            class="validate" required>
                        <label for="title">Titel*</label>
                    </div>
                    <div class="input-field col s12">
                        <input placeholder="z.B. Organistaion oder Veranstalter" name="subtitle" id="subtitle"
                            type="text" class="validate" required>
                        <label for="subtitle">Untertitel*</label>
                    </div>
                    <div class="input-field col s12">
                        <input placeholder="z.B. Gebäude oder Ort" name="addition" id="addition" type="text"
                            class="validate">
                        <label for="addition">Zusatz</label>
                    </div>
                </div>
            </form>
            <div class="btn-row row">
                <a id="generate-qr-btn" class="waves-effect waves-light btn">
                    QR-Code erstellen
                    <div class="preloader-wrapper small active">
                        <div class="spinner-layer">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="qrcodes">
    <div id="back-to-generator" class="row">
        <img src="images/arrow-left.svg" alt="">
        <div>Zurück</div>
    </div>
    <div id="qr-information" class="row">
        <div class="col s12" id="qr-title">Cyber Café SV</div>
        <div class="col s12" id="qr-subtitle">EPFL Campus, Lausanne</div>
        <div class="col s12" id="qr-addition">Some Addition</div>
    </div>
    <div class="qr-card-wrapper row">
        <div class="single-qr-card">
            <div id="public-qr-card" class="card white key-card">
                <div class="card-content">
                    <div class="qr-code"></div>
                    <div class="information">
                        <img src="images/icon_public.svg" alt="">
                        <h1>
                            <span class="primary-color">Public</span><br />
                            QR-Code
                        </h1>
                        <div class="bullet-point">
                            <img class="bullet-icon" src="images/visitors_icon.svg" alt="">
                            <div class="text">
                                Mit diesem QR-Code können Besucher vor Ort einchecken.
                            </div>
                        </div>
                        <div class="bullet-point">
                            <img class="bullet-icon" src="images/mobile_icon.svg" alt="">
                            <div class="text">
                                Der Code kann mit der NotifyMe App gescannt werden.
                            </div>
                        </div>
                        <div class="bullet-point">
                            <img class="bullet-icon" src="images/encryption_icon.svg" alt="">
                            <div class="text">
                                Die Check-Ins werden nicht registriert und es werden keine privaten Daten der Besucher erfasst.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-qr-card">
            <div id="private-qr-card" class="card white key-card">
                <div class="card-content">
                    <div class="qr-code"></div>
                    <div class="information">
                        <img src="images/icon_private.svg" alt="">
                        <h1>
                            <span class="tertiary-color">Private</span><br />
                            QR-Code
                        </h1>
                        <div class="bullet-point">
                            <img class="bullet-icon" src="images/message_icon.svg" alt="">
                            <div class="text">
                                Mit diesem QR-Code können Besucher bei einem Vorfall informiert werden.
                            </div>
                        </div>
                        <div class="bullet-point">
                            <img class="bullet-icon" src="images/mobile_icon_red.svg" alt="">
                            <div class="text">
                                Der Code kann mit einem beliebigen QR-Code Leser gescannt werden.
                            </div>
                        </div>
                        <div class="bullet-point">
                            <img class="bullet-icon" src="images/key_icon.svg" alt="">
                            <div class="text">
                                Es wird nur ein Entschlüsselungs-Schlüssel veröffentlicht. Keine Angaben zum Veranstalter.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-row row">
        <a id="download-pdf-btn" class="waves-effect waves-light btn" download="QR-Codes">
            Download PDF
            <div class="preloader-wrapper small active">
                <div class="spinner-layer">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>