<div id="uploadpage" class="row">
    <div class="card white">
        <div class="card-content">
            <span class="card-title">{{ T "upload_title" }}</span>
            <form id="upload-form">
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="{{ T "generator_title_placeholder" }}" name="title" id="title" type="text"
                            class="validate" required>
                        <label for="title">{{ T "generator_title_label" }}*</label>
                        <span class="helper-text" data-error="{{ T "generator_missing_input" }}"></span>
                    </div>
                    <div class="input-field col s12">
                        <input placeholder="{{ T "generator_subtitle_placeholder" }}" name="subtitle" id="subtitle"
                            type="text" class="validate" required>
                        <label for="subtitle">{{ T "generator_subtitle_label" }}*</label>
                        <span class="helper-text" data-error="{{ T "generator_missing_input" }}"></span>
                    </div>
                    <div class="input-field col s12">
                        <input placeholder="{{ T "generator_addition_placeholder" }}" name="addition" id="addition" type="text"
                            class="validate">
                        <label for="addition">{{ T "generator_addition_label" }}</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>